# Python
backend/.venv/
.venv/
venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Banco local
*.db
*.sqlite3

# Node
frontend/node_modules/
node_modules/
frontend/dist/
dist/

# Segredos
.env
.env.*
!.env.example

# IDE / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs e pacotes
*.log
*.zip
